# Node modules
node_modules

# prod
dist

# Fichiers .env dans frontend et backend
.env

# Dossier docs sauf le fichier PDF spécifique
docs/**
!docs/cahier-des-charges/
!docs/cahier-des-charges/salon_de_coiffeur.pdf

# Configuration de l'éditeur
.vscode/